<div class="container card card-cascade narrower mt-5">
    <div class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">
<h4 class="font-weight-bold text-uppercase mb-0">Real times usage</h4>
</div>
<div class="px-2">
<table class="table">
  <thead class="black white-text">
    <tr>
      <th class="th-lg" *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of userInteractions">
      <th class="col-md-2">{{el.username}}</th>
      <td class="col-md-2">{{el.time}}</td>
      <td class="col-md-1">{{el.method}}</td>
      <td class="col-md-1">{{el.path}}</td>
    </tr>
    <tr align="center">
      <div align="center" class="flex">
        <div class="flex-item">
          <div style="display: block;">
            <canvas baseChart [datasets]="lineChartData"
             [options]="barChartOptions"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"
               [legend]="barChartLegend"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                 [plugins]="lineChartPlugins"></canvas>
          </div>
        </div>
        </div>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="classfier" class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">
    <h4 class="font-weight-bold text-uppercase mb-0">Classifier data</h4>
</div>
<div align="center" *ngIf="classfier">
  <strong>Name: </strong>{{classfier.name}}
  <br/>
  <strong>Description: </strong>{{classfier.description}}
  <br/>
  <strong>{{classfier.name}} is active from: </strong>{{classfier.active_from}}
  <br/>
  <strong>Train size for each category: </strong>{{classfier.train_size}}
  <br/>
  <strong>Validation size for each category: </strong>{{classfier.validation_size}}
  <br/>
  <strong>Test size for each category: </strong>{{classfier.test_size}}
  <br/>
  <strong>Image width: </strong>{{classfier.image_width}}
  <br/>
  <strong>Image height: </strong>{{classfier.image_height}}
  <br/><br/>

  <strong>Transfer training time: </strong>{{classfier.transfer_train_time}} second
  <br/>
  <strong>Transfer train accuracy: </strong>{{classfier.transfer_train_accuracy}} %
  <br/>
  <strong>Transfer train loss: </strong>{{classfier.transfer_train_loss}}
  <br/><br/>

  <strong>Fine tunnig time: </strong>{{classfier.fine_tune_time}} second
  <br/>
  <strong>Fine tune accuracy: </strong>{{classfier.fine_tune_accuracy}} %
  <br/>
  <strong>Fine tune loss: </strong>{{classfier.fine_tune_loss}}
  <br/><br/>

  <strong>Testing accuracy: </strong>{{classfier.test_accuracy}} %
  <br/>
  <strong>Testing time: </strong>{{classfier.test_time}} second
  <br/>
  <strong>Top-3 Accuracy: </strong>{{classfier.test_top3_accuracy}} %
  <br/>
  <strong>Average Probability: </strong>{{classfier.test_probability}}
  <br/><br/>
</div>

<div class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">
  <h4 class="font-weight-bold text-uppercase mb-0">Category details</h4>
</div>
<div align="center">
</div>

</div>